<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Positron test task{% endblock %}</title>
        <link rel="stylesheet" href="/styles/style.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>
                <a class="nav-link-logo" href="/">
                    Positron test
                </a>
            </h1>
            <div class="modal-body">

            </div>
        </header>
        {% block body %}
        {% endblock %}
    </body>
</html>
